
## Se esta creando un formato Json para la extraccion de datos de los usuarios

In [7]:
data='''{"BANCOS":
 [
  {"BCP":
   [
    {"Nombre":"Maria Fernandez","deuda":500,"Sexo":"F","DNI":58429623,"Distrito":"La Molina","Edad":28},
    {"Nombre":"Manuel Hurtado","deuda":1000,"Sexo":"M","DNI":48963552,"Distrito":"San Borja","Edad":56},
    {"Nombre":"Luis Torres","deuda":3500,"Sexo":"M","DNI":46583533,"Distrito":"Lince","Edad":36}
   ]
  },
  {"FALABELLA":
   [
    {"Nombre":"Carlos Sheron ","deuda":2600,"Sexo":"M","DNI":10587880,"Distrito":"San Juan de Miraflores","Edad":26},
    {"Nombre":"Ana Martinez","deuda":850,"Sexo":"F","DNI":18965045,"Distrito":"Surco","Edad":30},
    {"Nombre":"Teresa Sanchez","deuda":3000,"Sexo":"F","DNI":70582630,"Distrito":"El Agustino","Edad":41}
   ]
  },
  {"AZTECA":
   [
    {"Nombre":"Vannesa Figueroa","deuda":2300,"Sexo":"F","DNI":46259782,"Distrito":"Santa Anita","Edad":30},
    {"Nombre":"Claudia Peralta","deuda":1500,"Sexo":"F","DNI":26413020,"Distrito":"Chaclacayo","Edad":29},
    {"Nombre":"Santiago Ramirez","deuda":1800,"Sexo":"M","DNI":10587880,"Distrito":"Chorrillos","Edad":64} 
   ]
  },
  {"PICHINCHA":
   [
    {"Nombre":"Waldir Llanos","deuda":4500,"Sexo":"F","DNI":58472568,"Distrito":"Ate","Edad":53},
    {"Nombre":"Fernanda Casas","deuda":7300,"Sexo":"F","DNI":66457892,"Distrito":"Carabyllo","Edad":39},
    {"Nombre":"Roberto Garcia","deuda":2100,"Sexo":"M","DNI":21549687,"Distrito":"Breña","Edad":58} 
   ]
  }
  
 ]
}
'''

In [8]:
import json
#Nos imprime en pantalla data como un tipo de dato nativo.
print ('DATA:', repr(data))

#Nos devuelve el String con el JSON
datos = json.dumps(data)
print ('JSON:', datos)

DATA: '{"BANCOS":\n [\n  {"BCP":\n   [\n    {"Nombre":"Maria Fernandez","deuda":500,"Sexo":"F","DNI":58429623,"Distrito":"La Molina","Edad":28},\n    {"Nombre":"Manuel Hurtado","deuda":1000,"Sexo":"M","DNI":48963552,"Distrito":"San Borja","Edad":56},\n    {"Nombre":"Luis Torres","deuda":3500,"Sexo":"M","DNI":46583533,"Distrito":"Lince","Edad":36}\n   ]\n  },\n  {"FALABELLA":\n   [\n    {"Nombre":"Carlos Sheron ","deuda":2600,"Sexo":"M","DNI":10587880,"Distrito":"San Juan de Miraflores","Edad":26},\n    {"Nombre":"Ana Martinez","deuda":850,"Sexo":"F","DNI":18965045,"Distrito":"Surco","Edad":30},\n    {"Nombre":"Teresa Sanchez","deuda":3000,"Sexo":"F","DNI":70582630,"Distrito":"El Agustino","Edad":41}\n   ]\n  },\n  {"AZTECA":\n   [\n    {"Nombre":"Vannesa Figueroa","deuda":2300,"Sexo":"F","DNI":46259782,"Distrito":"Santa Anita","Edad":30},\n    {"Nombre":"Claudia Peralta","deuda":1500,"Sexo":"F","DNI":26413020,"Distrito":"Chaclacayo","Edad":29},\n    {"Nombre":"Santiago Ramirez","deuda":1800,"Sexo":"M","DNI":10587880,"Distrito":"Chorrillos","Edad":64} \n   ]\n  },\n  {"PICHINCHA":\n   [\n    {"Nombre":"Waldir Llanos","deuda":4500,"Sexo":"F","DNI":58472568,"Distrito":"Ate","Edad":53},\n    {"Nombre":"Fernanda Casas","deuda":7300,"Sexo":"F","DNI":66457892,"Distrito":"Carabyllo","Edad":39},\n    {"Nombre":"Roberto Garcia","deuda":2100,"Sexo":"M","DNI":21549687,"Distrito":"Breña","Edad":58} \n   ]\n  }\n  \n ]\n}\n'
JSON: "{\"BANCOS\":\n [\n  {\"BCP\":\n   [\n    {\"Nombre\":\"Maria Fernandez\",\"deuda\":500,\"Sexo\":\"F\",\"DNI\":58429623,\"Distrito\":\"La Molina\",\"Edad\":28},\n    {\"Nombre\":\"Manuel Hurtado\",\"deuda\":1000,\"Sexo\":\"M\",\"DNI\":48963552,\"Distrito\":\"San Borja\",\"Edad\":56},\n    {\"Nombre\":\"Luis Torres\",\"deuda\":3500,\"Sexo\":\"M\",\"DNI\":46583533,\"Distrito\":\"Lince\",\"Edad\":36}\n   ]\n  },\n  {\"FALABELLA\":\n   [\n    {\"Nombre\":\"Carlos Sheron \",\"deuda\":2600,\"Sexo\":\"M\",\"DNI\":10587880,\"Distrito\":\"San Juan de Miraflores\",\"Edad\":26},\n    {\"Nombre\":\"Ana Martinez\",\"deuda\":850,\"Sexo\":\"F\",\"DNI\":18965045,\"Distrito\":\"Surco\",\"Edad\":30},\n    {\"Nombre\":\"Teresa Sanchez\",\"deuda\":3000,\"Sexo\":\"F\",\"DNI\":70582630,\"Distrito\":\"El Agustino\",\"Edad\":41}\n   ]\n  },\n  {\"AZTECA\":\n   [\n    {\"Nombre\":\"Vannesa Figueroa\",\"deuda\":2300,\"Sexo\":\"F\",\"DNI\":46259782,\"Distrito\":\"Santa Anita\",\"Edad\":30},\n    {\"Nombre\":\"Claudia Peralta\",\"deuda\":1500,\"Sexo\":\"F\",\"DNI\":26413020,\"Distrito\":\"Chaclacayo\",\"Edad\":29},\n    {\"Nombre\":\"Santiago Ramirez\",\"deuda\":1800,\"Sexo\":\"M\",\"DNI\":10587880,\"Distrito\":\"Chorrillos\",\"Edad\":64} \n   ]\n  },\n  {\"PICHINCHA\":\n   [\n    {\"Nombre\":\"Waldir Llanos\",\"deuda\":4500,\"Sexo\":\"F\",\"DNI\":58472568,\"Distrito\":\"Ate\",\"Edad\":53},\n    {\"Nombre\":\"Fernanda Casas\",\"deuda\":7300,\"Sexo\":\"F\",\"DNI\":66457892,\"Distrito\":\"Carabyllo\",\"Edad\":39},\n    {\"Nombre\":\"Roberto Garcia\",\"deuda\":2100,\"Sexo\":\"M\",\"DNI\":21549687,\"Distrito\":\"Bre\u00f1a\",\"Edad\":58} \n   ]\n  }\n  \n ]\n}\n"

In [9]:
import pandas as pd
from pandas import json_normalize

In [11]:
info = json.loads(data)

df = json_normalize(info['BANCOS']) #Results contain the required data
print(df)

                                                 BCP  \
0  [{'Nombre': 'Maria Fernandez', 'deuda': 500, '...
1                                                NaN
2                                                NaN
3                                                NaN

                                           FALABELLA  \
0                                                NaN
1  [{'Nombre': 'Carlos Sheron ', 'deuda': 2600, '...
2                                                NaN
3                                                NaN

                                              AZTECA  \
0                                                NaN
1                                                NaN
2  [{'Nombre': 'Vannesa Figueroa', 'deuda': 2300,...
3                                                NaN

                                           PICHINCHA
0                                                NaN
1                                                NaN
2                                                NaN
3  [{'Nombre': 'Waldir Llanos', 'deuda': 4500, 'S...

In [ ]:
#df=pd.DataFrame({"Nombre":titulos, "Precios":precios,"Área":area, "n_habitaciones":habitaciones,"URL":urls})